<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur perferendis cupiditate necessitatibus numquam laborum ipsum quos enim facere repellendus iure quaerat, excepturi aliquid at quidem a quas, dolor molestiae vero dolores repudiandae cum
    voluptatem? Placeat quidem, doloremque aperiam, enim a assumenda ex officiis, cupiditate rerum aliquid doloribus deserunt quo tenetur tempore neque explicabo suscipit ut. Maxime aspernatur eius vero modi alias fugiat iusto rerum! Numquam amet inventore
    deleniti itaque. Voluptatem, reiciendis ut ipsum eligendi cupiditate ratione assumenda dolorum, rem nihil porro nobis laborum perspiciatis quisquam, qui voluptates ea eum culpa quod distinctio tempora mollitia iusto molestiae. Exercitationem natus
    quas eligendi.
</p>